* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
html, body{
    height: 100%;
    width: 100%;
    background-color: brown;
}
#container{
    height: 90%;
    width: 90%;
    margin-left: 5%;
}

#clearGridBtn{
    border-radius: 20%;
    height: 2.5%;
    width: 10%;
    margin-left: 45%;
    margin-bottom: 2%

}