* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
html, body{
    width: 100%;
    height: 100vh;
    background-color: brown;
    font-family: 'Staatliches', cursive;
}
#titleClearContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#title{
margin-left: 5%;
font-size: 400%;
color: transparent;
background-image:  url("../img/greyscale.jpg");
background-clip: text;
-webkit-background-clip: text;
animation: moveBackground 5s linear infinite;
-webkit-animation: moveBackground 5s linear infinite;

}
/* Background animation */
@keyframes moveBackground{

    0% {
        background-position: 0% 30%;
    }

    100%{
        background-position: 100% 50%;
    }
}


#clearGridBtn{
    font-family: 'Staatliches', cursive;
    border: 0.3em solid black;
    border-radius: 1em;
    width: 20%;
    height: 100%;
    margin-right: 40%;} 

#container{
    position: relative;
    width: 50%;
    margin-left: 25%;
    border-style: solid;
    border-color: black; 
    border-width: 0.3em;
    border-radius: 0.3em;
}

#container::after{
    content: "";
    display: block;
    padding-bottom: 100%;
    
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

